POSTGRES_USER=username
POSTGRES_PASSWORD=replace-me
POSTGRES_DB=dbname
CHECKPOINT_PATH="checkpoints/run1/epoch=1-step=7042.ckpt"

# Optional
# POSTGRES_HOST=db # defaults to localhost, set this when running under docker compose
